extends layout

block navigation
  a(href="/posts") Post list

block content
  h1.site-section-title Author list
  ul.author-list
    each author in authorList
      li
        a(href=author.url) #{author.name}
    else
      p No authors
