extends layout

block navigation

block content
  if errors
    div.dialog
      p Errors:
      ul
        each error in errors
          li #{error.msg}
  div.prompt-card
    h1 #{title}
    form(method="post" action="")
      div.form-first
        label(for="name") Name:&nbsp
        br
        input#name(type="text" name="name" value=(user?user.name:""))
      div.button-bar
        input#post_button(type="submit" value="Register")
