extends layout

block content
  if deletePrompt
    div.dialog
      p #[strong Do you really want to delete this Author? All posts by this author will be deleted too.]
      form(method="POST" action="")
        button.form-last(type="submit") Yes
  else if user&&user._id.toString()==author._id.toString()
    nav
      a(href="/posts/new") New post
      | &#32;
      a(href="update") Update author
      | &#32;
      a(href="delete") Delete author

  h1.site-section-title Posts by #{author.name}

  include post_listing_widget.pug
