doctype html
html
  head
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title #{title} - #{blogTitle}
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    header.site-header
      h1.blog-title
        a(href="/posts") #{blogTitle}
      block user_bar
        include user_widget.pug
    main
      nav
        block navigation
          include navigation_widget.pug
      block content
