extends layout

block content
  if user
    p.dialog Currently logged in as #{user.username}
  div.prompt-card
    h1 Log in
    form(action="" method="POST")
      div.form-first
        | Username:&#32;
        br
        input#username(type="text" name="username")
      div
        | &#32;Password:&#32;
        br
        input#password(type="password" name="password")
      div.button-bar
        input(type="submit" value="Log in")
