- let previewLinkString = "Read more"

ul.post-list
  each post in postList
    - let pAuthor = author ? author : post.author
    li
      article
        header
          h2.post-title-list
            a(href=post.url) #{post.title}
          div.author-date
            div.author
              | by&#32;
              a(href=pAuthor.url) #{pAuthor.name}
            div.date
              if post.published
                | &#32;on&#32;
                time(datetime=post.publicationDate) #{post.formattedPublicationDate}
              if post.lastUpdateDate
                | &#32;(updated on&#32;
                time(datetime=post.lastUpdateDate) #{post.formattedLastUpdateDate})
              if user&&user._id.toString()==pAuthor._id.toString()
                if !post.published
                  | &#32;(draft)
        if post.preview
          div.separator
          div.post-preview #{post.preview.text}
          if post.preview.readMore
            div.read-more
              a(href=post.url) #{previewLinkString}
  else
    p.card No posts

if numPages > 1
  div.page-navigation
    p Pages:

    - const windowMax = 9
    - let window = numPages < windowMax ? numPages : windowMax
    - const halfWindow = Math.floor(window / 2)
    - let windowStart = page - halfWindow
    - if (windowStart < 1) windowStart = 1
    - else if (page >= numPages - halfWindow + 1) windowStart = numPages - window + 1

    - let labels = {first: "<< First", previous: "< Previous", next: "Next >", last: "Last >>"}

    div.page-buttons
      if page > 1
        a(href="?page=1") #{labels.first}
        |&#32;
        a(href="?page=" + (+page - 1)) #{labels.previous}
        |&#32;

      - for (let i = windowStart; i < windowStart + window; i += 1)
        - let cur = windowStart + i
        if i == page
          strong.current #{i} &#32;
        else
          a(href="?page=" + i) #{i}
          |&#32;

      if page < numPages
        a(href="?page=" + (+page + 1)) #{labels.next}
        |&#32;
        a(href="?page=" + numPages) #{labels.last}
