extends layout

block content
  if user && user._id.toString()==post.author._id.toString()
    nav
      a(href=post.url + "/update") Update post
      a(href=post.url + "/delete") Delete post

  if deletePrompt
    div.dialog
      p #[strong Do you really want to delete this Post?]
      form(method="POST" action="")
        input#postid(type="hidden" name="postid" required="true" value=post._id)
        button.form-last(type="submit") Yes

  article.post
    header
      h1.post-title #{post.title}
      div.author-date
        div.author
          | by&#32;
          a(href=post.author.url) #{post.author.name}
        div.date
          if post.published
            if post.lastUpdateDate
              | updated on&#32;
              time(datetime=post.lastUpdateDate) #{post.formattedLastUpdateDate}
            else
              | on&#32;
              time(datetime=post.publicationDate) #{post.formattedPublicationDate}
          else if user && user._id.toString()==post.author._id.toString()
            | (draft)
    div.separator
    if user && user._id.toString()==post.author._id.toString() && !post.published
      div.post-text #{post.draftText}
    else
      div.post-text #{post.text}
