extends layout

block navigation

block content
  h1.site-section-title #{title}

  if errors
    div.dialog
      p Errors:
      ul
        each error in errors
          li #{error.msg}

  form(method="post" action="").post-form
    div.post-form-publish.form-first
      input#submit_button(type="submit" value="Save")
      | &nbsp; Publish: &#32;
      input(type="radio" name="publish" value="yes")
      | &#32;
      label(for="yes") Yes &#32;
      input(type="radio" name="publish" value="no")
      | &#32;
      label(for="no") No
    div.post-form-title
      label(for="title") Title:
      br
      input#post_title(type="text" name="title" value=(post?post.title:""))
    div.form-last
      label(for="draft_text") Text:
      br
      textarea#post_draft_text(name="draft_text") #{(post?post.draftText:"")}

  if (post&&post.published)
    div.card
      p Published text:
      div.separator
      article
        header
          h2.post-title
            | #{post.title}
          div.author-date
            div.author
              | by #{user.name}
            div.date
              if post.published
                if post.lastUpdateDate
                  | updated on&#32;
                  time(datetime=post.lastUpdateDate) #{post.formattedLastUpdateDate}
                else
                  | on&#32;
                  time(datetime=post.publicationDate) #{post.formattedPublicationDate}
        div.separator
        p.post-text #{post.text}
