extends layout

block content
  if errors
    div.dialog
      p Registration failed:
      ul
        each error in errors
          li #{error.msg}
  if user
    p.dialog Currently logged in as #{user.username}
  div.prompt-card
    h1 Register
    form(action="" method="POST")
      div.form-first
        p Name:
        input#name(type="text" name="name" value=(name?name:""))
      div
        p Username:
        input#username(type="text" name="username" value=(username?username:""))
      div
        p Password:
        input#password(type="password" name="password")
      div.button-bar
        input(type="submit" value="Register")
