if allowRegistration || user
  div.u-w
    if user
      span.l-u
        | Logged in as&#32;
        a(href=user.url) #{user.username}
        | &#32;(#{user.name})
      span.a-o
        a(href="/logout") Log out
    if allowRegistration && !user
      span.a-o
        a(href="/register") Register
        | &#32; | &#32;
        a(href="/login") Log in
