extends layout

block content
  if exitingUser
    p.card Goodbye #{exitingUser}.

  if user
    p.card Hello&#32;
      a(href=user.url) #{user.username}
      | &#32;(#{user.name}).
  else
    p.card Not logged in.
