// Global variables //

$bg-color: whitesmoke;
$fg-color: white;
$shadow-color: lightgray;
$accent-color: #FF6611;
$dialog-color: red;

$usual-margin: 1rem;
$usual-padding: 1.25rem;

$form-margin: 0.625rem;

$sans-serif: sans-serif;
$serif: serif;

$hidpi-min-width: 1921px;


// General rules //

html {
	font-size: 16px;
}

body {
	max-width: 960px;
	margin: auto;
	padding: 0 1rem;
	background-color: $bg-color;
	font: 0.95rem $sans-serif;
}


@media screen and (min-width: $hidpi-min-width) {
	html {
		font-size: 24px;
	}
	body {
		max-width: 1920px;
	}
}
@media screen and (min-width: 656px) and (max-width: 672px) {
	body {
		width: 640px;
		margin: 0 auto;
		padding: 0;
	}
}
@media screen and (max-width: 655px) {
	body {
		padding: 0 0.5rem;
	}
}
@media screen and (min-width: 481px) and (max-width: 496px) {
	body {
		width: 480px;
		margin: 0 auto;
		padding: 0;
	}
}
@media screen and (max-width: 480px) {
	body {
		padding: 0;
	}
}
@media screen and (max-width: 320px) {
	html {
		font-size: 14px;
	}
	body {
		padding: 0;
		font-size: 1rem;
	}
}

@mixin responsive-font-size-down($max-width, $font-size) {
	@media screen and (max-width: $max-width) {
		font-size: $font-size;
	}
}
@mixin responsive-font-size-small($font-size) {
	@include responsive-font-size-down(320px, $font-size);
}


a {
	color: $accent-color;
	text-decoration: none;
}

header, p, h1, h2 {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 1.7rem;

	@include responsive-font-size-small(1.3rem);
}

.site-header {
	margin-bottom: $usual-margin * 1.5;
}


// Title and navigation //

.blog-title {
	padding-top: 2rem;
	padding-bottom: 0.5rem;
	border: 0.1rem solid $shadow-color;
	border-top-width: 0;
	color: $accent-color;
	background-color: $fg-color;
	font-size: 2.4rem;
	text-align: center;
	text-shadow: 0.0rem 0.1rem 0 $shadow-color;

	@include responsive-font-size-down(640px, 2.2rem);
	@include responsive-font-size-small(1.8rem);
	@media screen and (max-width: 320px) {
		padding-top: 1rem;
	}
}

$corner-angle: 135deg;

nav {
	display: flex;
	max-width: min-content;  // Maximum width is determined by the sum of the widths of its children elements (this way the bottom border stops at the last element)
	margin: 1rem 0;
	border-bottom: 0.2rem solid $shadow-color;

	* {
		$change-point: 0.5rem;

		width: 8rem;  // Items have a width (which is used to compute the width of the parent)...
		flex: 0 1 auto;  // ...but are allowed to shrink (if flex-basis is not auto the element shrinks stright away because the width of the parent is not absolute)
		margin-right: 0.4rem;
		padding: 0.2rem;
		padding-left: $change-point * 2;
		border-right: 0.1rem solid $shadow-color;
		background-image: linear-gradient($corner-angle, transparent $change-point, $fg-color $change-point);
	}

	:last-child {
		margin-right: 0;
	}
}


// General content elements //

// Special alignment variables
$post-list-li-padding: 0.8rem;
$article-text-indent: 1rem;
$list-title-content-align: $post-list-li-padding + $article-text-indent;

@mixin border-thin {
	border: 0.1rem solid $shadow-color;
}

@mixin border-bottom-separator-thin {
	border-bottom: 0.1rem solid $shadow-color;
}

.site-section-title {
	$change-point: 70%;
	$text-align: left;

	margin: $usual-margin 0;
	padding: 0.2rem;
	@if $text-align == right {
		padding-right: 0.8rem;
	}
	@else if $text-align == left {
		padding-left: $list-title-content-align;
	}
	border-bottom: 0.3rem solid $accent-color;
	border-right: 0.1rem solid $shadow-color;
	background-image: linear-gradient($corner-angle, transparent $change-point, $fg-color $change-point);
	font-size: 1.8rem;
	text-align: $text-align;

	@include responsive-font-size-small(1.5rem);
}

.card {
	margin: $usual-margin 0;
	padding: $usual-padding;
	@include border-thin;
	border-bottom-width: 0.2rem;
	border-top-width: 0;
	border-left-width: 0;
	background-color: $fg-color;
}

.prompt-card {
	@extend .card;

	min-width: min-content;
	max-width: max-content;
	margin: auto;

	h1 {
		margin-bottom: 1rem;
	}

	.button-bar {
		margin: 0;
		margin-top: $usual-margin;
		text-align: right;
	}
}

%article-text {
	margin-top: $usual-margin;
	font-size: 0.97rem;
	text-align: justify;
	text-indent: $article-text-indent;
	line-height: 1.5rem;

	@include responsive-font-size-small(1rem);
}

.separator {
	margin: 0;
	margin-bottom: 0.6rem;
	padding: 0;
	padding-top: 0.6rem;
	@include border-bottom-separator-thin;
}

.dialog {
	margin: $usual-margin 0;
	padding: 0.75rem;
	border: 0.125rem solid $dialog-color;
	border-radius: 0.5rem;
}


// Post rules //

.post {
	@extend .card;

	padding-top: 0.8rem;
}

.post-title {
	display: flex;
	font: {
		size: 1.8rem;
		family: $serif;
		weight: bold;
	}

	@include responsive-font-size-small(1.4rem);
}

.author-date {
	display: flex;

	.date {
		flex: min-content;
		text-align: right;
	}
}

.post-text {
	@extend %article-text;

	overflow-x: auto;
	white-space: pre-line;
}


// Post list specifics //

.post-list {
	margin: $usual-margin 0;
	padding-left: 0px;

	li {
		@extend .card;

		padding: $post-list-li-padding;
		list-style: none;
	}

	:last-child {
		margin-bottom: 0;
	}
}

.post-title-list {
	display: flex;
	font: {
		size: 1.4rem;
		family: $serif;
		weight: bold;
	}

	@include responsive-font-size-small(1.3rem)
}

.post-preview {
	@extend %article-text;

	overflow: hidden;
}

.read-more {
	display: flex;
	flex: min-content;
	margin-top: 0.2rem;
	font-weight: bold;
	justify-content: right;
}

.page-navigation {
	margin-top: 2rem;
	text-align: center;
}

.page-buttons {
	$size: 1rem;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	* {
		min-width: $size * 1.22;
		margin: $size/4;
		padding: $size/4;
		border: solid transparent;
		border-radius: $size * 2;
		border-width: 0.2rem;
		font-size: $size;
		font-weight: bold;
	}

	.current {
		border: solid $accent-color;
		background-color: $fg-color;
	}
}


// Form rules //

// Group elements that correspond to each "form widget" for these rules to work properly
form > * {
	margin: $form-margin 0;
}

// Use these classes in the first and last "form widget" respectively
.form-first {
	margin: 0;
	margin-bottom: $form-margin;
}
.form-last {
	margin: 0;
	margin-top: $form-margin;
}

$form-focus-color: #FFBB22;
$form-control-border-color: $shadow-color;
$text-bg-color: $fg-color;

%form-control-frame {
	border: 0.1rem solid $form-control-border-color;
	border-radius: 0.2rem;
}

input[type="button"], input[type="submit"] {
	@extend %form-control-frame;

	$btn-bg-color: $bg-color;

	padding: 0.25rem 1rem;
	background-color: $btn-bg-color;
	font-size: 1rem;

	&:hover {
		border-color: $form-focus-color;
	}
}

input[type="text"], input[type="password"] {
	@extend %form-control-frame;

	padding: 0.5rem 0.5rem;
	background-color: $text-bg-color;
	font-size: 0.95rem;

	@include responsive-font-size-small(1rem);
}

input[type="radio"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	width: 1.25rem;
	height: 1.25rem;
	border-radius: 50%;
	border: 0.2rem solid $form-control-border-color;
	transition: 0.2s all linear;

	&:checked {
		border-width: 0.25rem;
		background-color: $accent-color;
	}
}

input:focus {
	border-color: $form-focus-color;
}

textarea {
	@extend %form-control-frame;

	background-color: $text-bg-color;
	font-size: 0.90rem;

	@include responsive-font-size-small(1rem);

	&:focus {
		border-color: $form-focus-color;
	}
}


// Post form specifics //

.post-form {
	@extend .card;

	&-publish {
		display: flex;
		align-items: end;
	}

	&-title input[type="text"] {
		width: 100%;
		box-sizing: border-box;
	}

	textarea {
		width: 100%;
		max-width: 100%;
		height: 50vh;
		box-sizing: border-box;
		padding: 4px 8px;
	}
}


// Author list //

.author-list {
	@extend .card;

	font-size: 1rem;
	font-weight: bold;
	list-style: none;
	padding: {
		left: $list-title-content-align;
		top: 0.8rem;
		bottom: 0.8rem;
	}

	li {
		margin-bottom: 0.6rem;
	}
	:last-child {
		margin-bottom: 0rem;
	}
}


// User widget //

.u-w {  // user-widget
	$side-margins: 0.25rem;

	display: flex;
	height: min-content;
	min-height: 1.25rem;
	align-items: center;
	@include border-thin;
	border-top-width: 0;
	background-color: $bg-color;

	.l-u {  // logged-user
		margin-left: $side-margins;
	}

	.a-o {  // account-ops
		margin-left: auto;
		margin-right: $side-margins;
		color: $shadow-color;
	}
}
